body {
  background-color: burlywood;
  font-size: larger;
  font-family: sans-serif;
}

h1, h2, div, td {
  text-align: center;
}

button, input {
  font-size: large;
}

input {
  width: 40px;
  background-color: cornsilk;
}

table {
  border-collapse: collapse;
  margin: 3em auto;
}

td {
  width: 60px;
  height: 60px;
  font-size: 50px;
  transition-duration: 1s;
  border-radius: 15px;
  vertical-align: bottom; // for Firefox (displays off-center if value is 'middle')
  vertical-align: -webkit-baseline-middle;
}

tbody td {
  border: 2px solid black;
}

td.bodyEdge {
  border-left: 0;
  border-right: 0;
}

td.topOrBottomEdge {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

td.clickable:hover {
  background-color: cornsilk;
  cursor: grab;
  transition-duration: 1s;
}

td.clickable:active {
  cursor: grabbing;
  background-color: black;
  transition-duration: .5s;
}

.cellSpan {
  opacity: 0;
  transition-duration: .5s;
  display: inline-block;
  width: 100%;
}

.cellSpan:hover {
  opacity: .25;
  transition-duration: .5s;
  color: black;
}

.winning {
  color: cornsilk;
}

.hidden {
  display: none;
}

@keyframes warningAnimation {
  from {color: black;}
  to {color: cornsilk;}
}

.warning {
  animation: .2s 4 alternate warningAnimation;
}
