body {
  background-color: burlywood;
  font-size: larger;
}

button, input {
  font-size: large;
}

table {
  border-collapse: collapse;
  margin: 5em auto;
  font-family: sans-serif;
}

td {
  width: 75px;
  height: 75px;
  font-size: 65px;
  text-align: center;
  transition-duration: 1s;
  border-radius: 15px;
}

tbody td {
  border: 2px solid black;
}

td.bodyEdge {
  border-left: 0;
  border-right: 0;
}

td.topOrBottomEdge {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

td.clickable:hover {
  background-color: cornsilk;
  cursor: grab;
  transition-duration: 1s;
}

td.clickable:active {
  cursor: grabbing;
  background-color: black;
  transition-duration: .5s;
}

.winning {
  color: cornsilk;
}

.hidden {
  display: none;
}

.warning {
  color: red;
  transition-duration: 1s;
}

#winnerDiv {
  text-align: center;
}
